
.ComentsMessage {
    display: flex;
    background: red;

    /* justify-content: center; */
}

.ava {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.styleMesageComent {
    height: 100px;
    width: 200px;
    /*margin-left: 10px;*/
    padding: 1px;
    font-size: 13PX;
    box-shadow: 1px 1px 1px 1px #000000;
    /*margin-right: 50px;*/
    border-radius: 10px;
    background-color: cadetblue;

}