.option-enter {
  opacity: 0;

}

.option-enter.option-enter-active {
  opacity: 1;
  transition: opacity 4s ease ;
}
.option-exit {
  opacity: 1;
}

.option-exit.option-exit-active {
  opacity: 0;
  transition: opacity 4s ease ;
}
.wrapper{
  margin: 190px 200px;
  display: flex;
}



.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
